.education  {
    @extend %blockStartFlexRow;
    margin-top: 3rem;
    padding-top: 3rem;
}

.asideTitle__rotate--education {
    top: 0;
    left: 0;
}

.education__block  {
    width: 100%;
    
}

.education__title  {
    @extend .skillBlockMain__title;
}

.education__icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: -1rem;
    left: - $educMarkerMargin + 3rem - 2rem;
    z-index: 15;
    background: $bgColor;
    border: 2px solid $blue;
    border-radius: 50%;

    svg {
        width: 70%;
        height: 70%;
        margin: .6rem 0 0 .6rem;

        * {
            fill: $textBlack;
        }
    }

}

@media only screen and (min-width : $screen-sm) {
    .education__icon {
        width: 6rem;
        height: 6rem;
        top: -2rem;
        left: - $educMarkerMargin - 3rem;

        svg {        
            margin: .9rem 0 0 .9rem;
        }
    }
}
